<body>

    <div class="container">
        <br><br>
        <div class="row">
        <div class="col-sm-6">
            <div class="top1">
            <a routerLink="/signup"><img class="img1" src="assets/userlogin.png"></a>
            <h1><strong>User</strong></h1>
        </div>
    
      </div>
    
        
    
        <div class="col-sm-6">
            <div class="top3">
            <a routerLink="/signupmentor"><img class="img3" src="/assets/avatar2.png"></a>
            <h1><strong>Trainer</strong></h1>
        </div>
    
      </div>
    </div>
    </div>
    
    </body>