<!DOCTYPE html>
<html>
<head>
<style>
  body{
    background-image: linear-gradient(45deg,rgb(209, 136, 136),rgb(135, 196, 204),rgb(224, 168, 224));
  }
  #form{
    max-width: 500px;
    min-height: 850px;
    font-size: 14px;
    text-align: center;
  }
  button{
    width: 50%;
    font-size: 14px;
    border-radius:25px;
  }
  input{
    font-size: 14px;
    border-radius:25px;
    text-align: center;
  }
</style>
</head>
<body>
<a routerLink="/admin" style="color: black"><h3>Back</h3></a>
<br><br>
<div id="form" class="container">
  <h2 class="text-center">Add Mentor</h2>
  <br>
  <br>
<form>
  <div class="form-group">
    <input type="email" [(ngModel)]="mentor.email" placeholder="Email Address" name="email" class="form-control" id="email">
  </div>
<br>
  <div class="form-group">
    <input type="text" [(ngModel)]="mentor.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
  </div>
<br>
  <div class="form-group">
    <input type="text" [(ngModel)]="mentor.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
  </div>
<br>
  <div class="form-group">
      <input type="password" [(ngModel)]="mentor.password" placeholder="Password" name="password" class="form-control" id="password">
  </div>
<br>
  <div class="form-group">
      <input type="tel" [(ngModel)]="mentor.contactNumber" placeholder="Contact Number" name="contactNumber" class="form-control" id="contactNumber">
  </div>
<br>
  <div class="form-group">
      <input type="text" [(ngModel)]="mentor.regCode" placeholder="Registration Code" name="regCode" class="form-control" id="regCode">
  </div>
<br>
  <div class="form-group">
      <input type="text" [(ngModel)]="mentor.role" placeholder="Role " name="role" class="form-control" id="role">
  </div>
<br>
  <div class="form-group">
      <input type="text" [(ngModel)]="mentor.linkedinUrl" placeholder="LinkedIn Url " name="linkedinUrl" class="form-control" id="linkedinUrl">
  </div>
<br>
  <div class="form-group">
      <input type="text" [(ngModel)]="mentor.yearsofExperience" placeholder="Years Of Experience (0,1,2 etc.)" name="yearsofExperience" class="form-control" id="yearsofExperience">
  </div>
<br>
  <div class="form-group">
      <input type="text" [(ngModel)]="mentor.timeZone" placeholder="Time of Mentor (hh:mm:ss)" name="timeZone" class="form-control" id="timeZone">
  </div>
<br>
  <div class="form-group">
      <input type="text" [(ngModel)]="mentor.mentorProfile" placeholder="Profile Details " name="mentorProfile" class="form-control" id="mentorProfile">
  </div>
<br><br>
  <button class="btn btn-success" (click)="createMentor()" routerLink="/admin">Create</button>
</form>
</div>
</body>
</html>
