<!Doctype html>
<html>
  <head>
<style>
  h1{
    text-align: center;
  }
  table{
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
  }
  body{
    background-image: linear-gradient(-45deg,rgb(209, 136, 136),rgb(135, 196, 204),rgb(224, 168, 224));
    height: 100vh;
    margin: 0px;
  }
  button{
    font-size: 14px;
  }
</style>
</head>
<body>
    <a routerLink="/admin" style="color: black"><h3>Back</h3></a>
<div class="container text-center" style="overflow-x: auto;">
  <br><br>
  <h1> Skill Details</h1>
  <br><br>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Prerequisites</th>
      <th>Table Of Contents</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let skill of skill">
      <td>{{skill.id}}</td>
      <td>{{skill.name}}</td>
      <td>{{skill.prerequisites}}</td>
      <td>{{skill.toc}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  </body>
  </html>