<!Doctype html>
<html>
  <head>
<style>
  h1{
    text-align: center;
  }
  table{
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
  }
  body{
    background-image: linear-gradient(-45deg,rgb(209, 136, 136),rgb(135, 196, 204),rgb(224, 168, 224));
    height: 100vh;
    margin: 0px;
  }
  button{
    font-size: 14px;
  }
</style>
</head>
<body>
    <a routerLink="/trainerhome" style="color: black"><h2>Back</h2></a>
<div class="container text-center" style="overflow-x: auto;">
  <br>
  <h1>Training List</h1>
  <br><Br>
  <table class="table table-hover">
    <thead>
    <tr>
      <th >Id</th>
      <th>Progress</th>
      <th>Rating</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Amount Received</th>
      <th>Mentor Name</th>
      <th>User Name</th>
      <th>Skill Name</th>
      <th>Fees</th>
      <th>Status</th>
      <th>View Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let training of training">
      <td>{{training.id}}</td>
      <td><circle-progress
        [percent]="training.progress"
        [radius]="20"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="powderblue"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="200"
        [titleFontSize] = "12"
      ></circle-progress></td>
      <td>{{training.rating}}</td>
      <td>{{training.startDate}}</td>
      <td>{{training.endDate}}</td>
      <td>{{training.startTime}}</td>
      <td>{{training.endTime}}</td>
      <td>{{training.amountReceived}}</td>
      <td>{{training.mentor.firstName}}</td>
      <td><span *ngFor="let user of training.users">{{user.firstName}}</span></td>
      <td><span *ngFor="let skill of training.skills">{{skill.name}}</span></td>
      <td>{{training.fees}}</td>
      <td>{{training.status}}</td>
      <td><a routerLink="/trainingdetailsformentor"><button type="button" class="btn btn-info btn-md">View</button></a></td>
    </tr>
    </tbody>
  </table>
</div>
<br>
</body>
</html>
