<!Doctype html>
<html>
  <head>
<style>
  h1{
    text-align: center;
  }
  table{
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    align-content: center;
    align-self: auto;
  }
  tbody{
    text-align: center;
  }
  body{
    background-image: linear-gradient(-45deg,rgb(209, 136, 136),rgb(135, 196, 204),rgb(224, 168, 224));
    height: 100vh;
    margin: 0px;
    background-size: cover;
    overflow: hidden;
  }
  button{
    font-size: 14px;
  }
</style>
</head>
<body>
    <a routerLink="/trainerhome" style="color: black"><h3>Back</h3></a>
<div class="container text-center" style="overflow-x: auto;">
  <h2> Mentor Details</h2>
  <br>
  <table class="table table-hover">
    <thead>
       
    <tr>
      <th class="hidden">Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Registration Code</th>
      <th>Role</th>
      <th>LinkedIn URL</th>
      <th>Years of Experience</th>
    </tr>
    </thead> 
    
    <tbody>
    <tr *ngFor="let training of training">
      <td class="hidden">{{training.mentor.id}}</td>
      <td>{{training.mentor.firstName}}</td>
      <td>{{training.mentor.lastName}}</td>
      <td>{{training.mentor.userName}}</td>
      <td>{{training.mentor.password}}</td>
      <td>{{training.mentor.email}}</td>
      <td>{{training.mentor.contactNumber}}</td>
      <td>{{training.mentor.regCode}}</td>
      <td>{{training.mentor.role}}</td>
      <td>{{training.mentor.linkedinUrl}}</td>
      <td>{{training.mentor.yearsofExperience}}</td>
    </tr>
    </tbody>
  </table>
  </div>
  <br><br><br>

  <div class="container text-center" style="overflow-x: auto;">
    <h2> User Details</h2>
    <br>
    <table class="table table-hover">
      <thead>
         
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>       
        <th>Email</th>
        <th>Registration Code</th>
        <th>Role</th>
        <th>Years of Experience</th>
      </tr>
      </thead>   

      <tbody *ngFor="let training of training">   
      <tr *ngFor="let user of training.users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.regCode}}</td>
        <td>{{user.role}}</td>
        <td>{{user.yearsofExperience}}</td>
      </tr>
      </tbody>
    </table>
    </div>
    <br><br><br>

    <div class="container text-center" style="overflow-x: auto;">
      <h2> Technology Details</h2>
      <br>
      <table class="table table-hover">
        <thead>
           
        <tr>
          <th>Id</th>
          <th>Technology Name</th>
          <th>Description</th>
        </tr>
      </thead> 
  
        <tbody>
        <tr *ngFor="let training of training">
          <td>{{training.technology.id}}</td>
          <td>{{training.technology.techName}}</td>
          <td>{{training.technology.description}}</td>
        </tr>
        </tbody>
      </table>
      </div>
  </body>
  </html>